 #container-menu {
     height: 50em;
     width: 30em;
     display: flex;
     align-items: center;
     justify-content: center;

     margin-top: -1em;


 }

 #carta {
     
     width: 100vw;
     max-width: 1600px;
     min-width: 320px;
     margin: auto;
     border: solid 0.2em black;
     background: #e0e0e0;
     box-shadow: 20px 20px 60px #bebebe,
     -20px -20px 60px #ffffff;

 }

 #carta img {
     width: 100%;
 }