body {
    height: 100%;
}

#container-menu {
    height: 50em;
    width: 30em;
    display: flex;
    align-items: center;
    justify-content: center;




}

#carta {
    border: solid 1em black;
    width: 100vw;
    max-width: 1600px;
    min-width: 320px;
    margin: auto;
    border: solid 0.2em black;
    border-radius: 0.3em;

}

#carta img {
    width: 100%;
}