@media (max-width: 830px) {

    #central-container {
        margin-top: 2em;
        width: 40em;
        height: 16em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #container-slider {

        width: 40em;
        height: 16em;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .slide img {

        width: 40em;
        height: 16em;


    }

    #aboutUs {
        width: 40em;
        height: 32em;
        background-color: #f04622;
        text-align: center;
        border-radius: 0.5em;
        margin-top: 0.5em;

    }
    #middle-container{
        margin-top: 4em;
        height: 35em;
        width: 50em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #sign-up{
        height: 30em;
        width: 25em;
        padding: 0em 0em 0em 1em;
        font-size: 1em;  
    
    }
    #words-Lorem{
       
        font-size: 1.1em;
        font-family: 'Roboto', sans-serif; 
    }
    #loren{
        max-width: 100%;
    }
}
    



@media (max-width: 650px) {

    #central-container {
        width: 30em;
        height: 16em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Controls {
        width: 30em;
        height: 16em;
    }

    #container-slider {

        width: 30em;
        height: 16em;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .slide img {
        width: 30em;
        height: 16em;

    }

    #aboutUs {
        width: 30em;
        height: 41em;
        background-color: #f04622;
        text-align: center;
        border-radius: 0.5em;
        margin-top: 0.5em;

    }
    

    #maps-box {
        height: 20em;
        width: 30em;
        display: flex;
        flex-direction: row;
        padding: 2em;
    }

    .ramen-Maps {
        height: 20em;
        width: 15em;
        padding: 1em;

    }

    #content-box {
        height: 20em;
        width: 15em;
    }

    .local-description p {
        font-size: 0.6em;
        font-family: 'Roboto', sans-serif;
    }

    #loren {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        margin: 0.5em;
        padding: 0 2em 0 3em;

    }

    #maps-titlle {
        color: #f04622;
    }

    .local-description h3 {
        font-size: 1em;
        margin-bottom: 0rem;

    }
    #letters-maps{
        margin-left: 0.5em;
    }
    .maps-locations{
        margin-top: 0.5em;
    }
    iframe{
        margin: 0em;
        height: 100px;
    }
    #loren{
        max-width: 70%;
    }
    #middle-container{
        margin-top: 1em;
        
    }
}



@media (max-width: 500px) {
    

    #central-container {
        width: 28em;
        height: 12em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
    }

    #container-slider {
        margin-top: 2em;
        width: 28em;
        height: 12em;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .slide img {
        width: 28em;
        height: 12em;
        border-radius: 0.5em;
    }

    #aboutUs {
        width: 28em;
        height: 36em;
        background-color: #f04622;
        text-align: center;
        border-radius: 0.5em;
        margin-top: -1em;

    }
    #aboutUs p{
        font-size: 1em;

    }

    .carousel-control-prev, .carousel-control-next {
        display: none;
    }

    #menu-links {
        height: 3em;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pages {
        padding: 0.1em;
        margin: 1.1em;
    }

    #container-menu {
        margin-top: -2em;

    }
    iframe{
        margin: 0em;
        height: 100px;
    }
    #loren{
        max-width: 90%;
    }
    #middle-container{
        margin-top: 1em;
        width: 38em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    form{
     margin-top: 1em;
        
    }
    #sign-up{
      padding-bottom: 3em;
    }
    #words-Lorem{
        max-width: 80%;
    }
    
}
@media (max-width: 420px) {
    

    #central-container {
        width: 22em;
        height: 12em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
    }

    #container-slider {
        margin-top: 2em;
        width: 22em;
        height: 12em;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .slide img {
        width: 22em;
        height: 12em;
        border-radius: 0.5em;
    }

    #aboutUs {
        width: 22em;
        height: 45em;
        background-color: #f04622;
        text-align: center;
        border-radius: 0.5em;
        margin-top: -1em;

    }
    #aboutUs h1 {
        
     font-size: 1.6em;
    }
    #aboutUs p{
        font-size: 1em;

    }

    .carousel-control-prev, .carousel-control-next {
        display: none;
    }

    #menu-links {
        height: 3em;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pages {
        padding: 0.1em;
        margin: 0.3em;
    }
    .pages a {
        font-size: 1.5em;
    }

    #container-menu {
        margin-top: -3em;
        margin-bottom: -3em;

    }
   
    iframe{
        margin: 0em;
        height: 100px;
    }
    #loren{
        max-width: 90%;
    }
    #middle-container{
        margin-top: 1em;
        width: 100%;
        height: 70em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    form{
     margin-top: 2em;
     margin: 1em;
        
    }
    #sign-up{
      padding-bottom: 3em;
    }
    #words-Lorem{
        max-width: 80%;
    }
    #pesadilla{
        width: 340px;
        height: 490px;
        padding: 1px;
        border-radius: 5px;
        background-color: whitesmoke;
        margin-bottom: 7px;
        margin-top: 10px;
        margin: 5px;
    }
    input[type=submit] {

        background-color: #fff;
        border: 0;
        border-radius: 10px;
        color: #333;
        cursor: pointer;
        transition: background-color .5s;
        font-size: 12px;
        transition: 1s;
    }
    h6{
        font-size: 0.6em;
        text-align: center;
    }
    
}